*{
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container{
    display: grid;
    width: 100%;
    height: 100vh;
}

/* Rotator component */
.rotator{
    display: grid;
    align-items: center;
    justify-items: center;

    height: 205px;
    width: 205px;
    margin: auto;
}
/* Dashed line container */
.dashed-line{
    display: inline-block;
    grid-column-start: 1;
    grid-row-start: 1;
    animation: counterClockwise 8s linear infinite;
}
    /* Blue semi circle */
    .dashed-line-blue{
        width: 200px; 
        height: 100px; 
        border-radius: 150px 150px 0 0;
        border: 2px dashed navy;
        border-bottom: 0;
    }
    /* Orange semi circle */
    .dashed-line-orange{
        width: 200px;
        height: 100px; 
        border-radius: 0 0 150px 150px;
        border: 2px dashed orangered;
        border-top: 0;
    }

/* Gray circle */
.circle{
    grid-column-start: 1;
    grid-row-start: 1;
    
    height: 165px;
    width: 165px;
    background-color: lightgray;
    border-radius: 50%;
}
    .circle-checkbox{
        grid-column-start: 1;
        grid-row-start: 1;
        position: relative;
        z-index: 1;
        
        height: 165px;
        width: 165px;
        border-radius: 50%;
        cursor: pointer;

        opacity: 0;
        appearance: none;
    }
    /* When the .circle-checkbox is toggled, apply this animation to .dashed-line */
    .circle-checkbox:checked + .dashed-line{
        animation: clockwise 8s linear infinite;
    }
    /* "Click me" text */
    .text{
        grid-column-start: 1;
        grid-row-start: 1;

        color: gray;
        pointer-events: none;
    }
/* Animation keyframes for clockwise and counter clockwise rotations */
@keyframes counterClockwise {
    to{
        transform: rotate(-360deg);
    }
}
@keyframes clockwise {
    to{
        transform: rotate(360deg);
    }
}